<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.app.mapper.AppAllWordMapper">
    
    <resultMap type="AppAllWord" id="AppAllWordResult">
        <result property="id"    column="id"    />
        <result property="word"    column="word"    />
        <result property="pronunciationBs"    column="pronunciation_bs"    />
        <result property="pronunciationAs"    column="pronunciation_as"    />
        <result property="interpretation"    column="Interpretation"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectAppAllWordVo">
        select id, word, pronunciation_bs, pronunciation_as, Interpretation, create_by, create_time, update_by, update_time, remark from app_all_word
    </sql>

    <select id="selectAppAllWordList" parameterType="AppAllWord" resultMap="AppAllWordResult">
        <include refid="selectAppAllWordVo"/>
        <where>  
            <if test="word != null  and word != ''"> and word = #{word}</if>
            <if test="pronunciationBs != null  and pronunciationBs != ''"> and pronunciation_bs = #{pronunciationBs}</if>
            <if test="pronunciationAs != null  and pronunciationAs != ''"> and pronunciation_as = #{pronunciationAs}</if>
            <if test="interpretation != null  and interpretation != ''"> and Interpretation = #{interpretation}</if>
        </where>
        order by Interpretation
    </select>
    
    <select id="selectAppAllWordById" parameterType="Long" resultMap="AppAllWordResult">
        <include refid="selectAppAllWordVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAppAllWord" parameterType="AppAllWord" useGeneratedKeys="true" keyProperty="id">
        insert into app_all_word
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="word != null  and word != ''">word,</if>
            <if test="pronunciationBs != null  and pronunciationBs != ''">pronunciation_bs,</if>
            <if test="pronunciationAs != null  and pronunciationAs != ''">pronunciation_as,</if>
            <if test="interpretation != null  and interpretation != ''">Interpretation,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="word != null  and word != ''">#{word},</if>
            <if test="pronunciationBs != null  and pronunciationBs != ''">#{pronunciationBs},</if>
            <if test="pronunciationAs != null  and pronunciationAs != ''">#{pronunciationAs},</if>
            <if test="interpretation != null  and interpretation != ''">#{interpretation},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
         </trim>
    </insert>

    <update id="updateAppAllWord" parameterType="AppAllWord">
        update app_all_word
        <trim prefix="SET" suffixOverrides=",">
            <if test="word != null  and word != ''">word = #{word},</if>
            <if test="pronunciationBs != null  and pronunciationBs != ''">pronunciation_bs = #{pronunciationBs},</if>
            <if test="pronunciationAs != null  and pronunciationAs != ''">pronunciation_as = #{pronunciationAs},</if>
            <if test="interpretation != null  and interpretation != ''">Interpretation = #{interpretation},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAppAllWordById" parameterType="Long">
        delete from app_all_word where id = #{id}
    </delete>

    <delete id="deleteAppAllWordByIds" parameterType="String">
        delete from app_all_word where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>